body{
    background-color: rgb(12, 12, 12);
}

h1{
    color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.uno{
    display: flex;
    border: 2px solid blue;
    background-color: aqua;
    padding: 9px;
}

.dos {
    width: 110px;
    height: 110px;

}

.cuatro{
    color: rgb(0, 0, 0);
    padding-left: 15px;
}
